

{% extends "_layout" %}
{% set title = "Services" %}

{% block content %}
	<h1>{{ entry.title }}</h1>
	<p>{{ entry.body }}</p>

	{% for entry in craft.entries.section('services').find() %}
		<article>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<img src="{{ entry.serviceimage.first().getUrl("servicethumb") }}">
			<p>{{ entry.servicesummary }}</p>
			<p><a href="{{ entry.url }}">Читать дальше</a></p>
		</article>
	{% endfor %}
{% endblock %}
